.nav-bar {
  display: flex;
  align-items: center;
  border-bottom: 2px solid black;
}

.logo-box {
  width: 15vw;
  margin: 10px 0 20px 20px;
}
.logo-img {
  width: 70%;
}
.menu-items {
  width: 65vw;
}
.menu-items {
  display: flex;
  align-items: stretch;
  justify-content: center;
}
.menu-item {
  text-transform: uppercase;
  padding: 1.25rem;
  border-right: 1px solid #d7263d;

  &:last-child {
    border: 0;
  }
}

.fa-solid {
  font-size: 2rem;
}
.menu-item span a {
  font-size: 1.1rem;
  font-weight: 500;
  font-weight: 550;
  color: #102d50;
}
/* ------SUBMENU------------- */
.submenu {
  display: none;
}
.menu-item:hover .submenu {
  display: block;
  position: absolute;
  background-color: #133156;
  width: 20rem;
  margin-left: -1rem;
  margin-top: 1rem;
}

.submenu .submenu-item-box a {
  display: block;
  text-align: left;
  color: white;
  font-size: 1.2rem;
  padding: 2rem 2rem 2rem 1rem;
}

.submenu-item-box:hover a {
  display: block;
  background-color: #b11f28;
}

/* ------------------LOGIN BOX BELOW-------------- */
.login-box {
  width: 20vw;
  text-transform: uppercase;
  border-left: 2px solid black;
}
.shop-login-search-box-items {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 25px;
  margin-top: 15px;
  margin-bottom: 15px;
  padding-left: 15px;
  padding-right: 15px;
}

.join-renew-box-items {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.shop-login-search-box-item {
  font-size: 0.8rem;
  width: 100%;
  text-align: center;
  color: #102d50;
}
.join-renew-box-item {
  background: #b11f28;
  width: 100%;
  text-align: center;
  border: 1px solid #b11f28;
  border-top-width: 2px;
  border-right-width: 0px;
  border-bottom-width: 0px;
  border-left-width: 0px;
  display: block;
  text-align: center;
  padding: 12px 24px;
}
.join-renew-box-item span {
  color: white;
  font-weight: bold;
  font-size: 16px;
}
.join-renew-box-item-join {
  margin-right: 3px;
  width: 50%;
}
.join-renew-box-item-renew {
  margin-left: 3px;
  width: 50%;
}
/* -------------------LOGIN-BOX ABOVE--------------- */
/*  */
/* -----MOBILE NAV------------ */
.btn-mobile-nav {
  display: none;
}
/* -------------sticky element------- */

.sticky {
  position: fixed;
  top: 0;
  width: 100%;

  z-index: 999;
  background-color: white;
}
.fixed {
  width: 100%;
  margin-top: 113px;
}
/* -------------sticky element------- */

/* -SLIDER AŞAĞIDA */
.slider {
  display: flex;
  position: relative;
  width: 100vw;
}
.slider-wrap {
  width: 100vw;

  overflow: hidden;
  margin-left: auto;
  margin-right: auto;
}
.slides {
  display: flex;
  width: 100vw;
}
.slide-img {
  width: 50vw;
  height: 80vh;
}

.slide-texts {
  width: 50vw;
  height: 80vh;
  text-align: left;
  background-color: #b11f28;
  color: white;
  font-size: 2rem;
  padding-left: 2rem;
}
.read-more {
  display: inline-block;
  width: 10rem;
  height: 3rem;
  font-size: 1rem;
  font-weight: 700;
  background-color: #133156;
  color: white;
  margin-top: 1.2rem;
  text-align: center;
  line-height: 3rem;
}
.read-more:hover {
  background-color: #0c223d;
}
.read-more2 {
  display: inline-block;
  width: 10rem;
  height: 3rem;
  font-size: 1rem;
  font-weight: 700;
  background-color: #b11f28;
  color: white;
  margin-top: 1.2rem;
  text-align: center;
  line-height: 3rem;
}
.read-more2:hover {
  background-color: #701118;
}
.buttons {
  position: absolute;
  top: 91.5%;
}
.prevBtn {
  left: 0.2%;
}
.nextBtn {
  left: 97.7%;
}
/* --SLIDER YUKARIDA */
/* ----------content-row-1 ---below----*/
.content-row-1 {
  display: flex;
}
.content-row-1-left {
  width: 49vw;
  height: 50vh;
  background-color: #133156;
  color: white;
}

.content-row-1-right {
  width: 49vw;
  height: 50vh;
  color: white;
}
.content-box {
  text-align: left;
  color: white;
  font-size: 1.6rem;
  padding-left: 2rem;
}
.content-img {
  width: 50vw;
  height: 50vh;
}
/* ----------content-row-1----above ---- */
/* *******************ADVERT************** */
.advert-box {
  width: 40rem;
  height: 20rem;
  border: 1px solid black;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3rem;
}
.advert-box-left {
  font-size: 3rem;
  border-right: 2px solid black;
}
.advert-box-right {
  font-size: 3rem;
  border-left: 2px solid black;
}
/* ----------content-row-2 ---below----*/
.content-row-2 {
  display: flex;
}
.content-row-2-left {
  width: 50vw;
  height: 50vh;
  background-color: #133156;
  color: white;
}
.text {
  font-size: 1.4rem;
}
.content-row-2-right {
  width: 50vw;
  height: 50vh;
  color: white;
  background-color: #b11f28;
}

.content-img {
  width: 50vw;
  height: 50vh;
}
/* ----------content-row-2----above ---- */

/*  *********************LINK-CABINET*******below*********  */
.link-cabinet-box {
  width: 100vw;
  height: 48rem;
  background-color: #133156;
  margin-top: 2em;
  padding-top: 4rem;
  padding-bottom: 4rem;
}
.link-cabinet-top,
.link-cabinet-bottom {
  display: flex;
}
.link-box-left-wrap {
  width: 46rem;
  height: 17rem;
  position: relative;
  margin: 2rem 1rem 0rem 2rem;
}
.link-box-right-wrap {
  width: 46rem;
  height: 17rem;
  position: relative;
  margin: 2rem 1rem 0rem 1rem;
}
.link-box-left {
  width: 46rem;
  height: 17rem;
  border: 2px solid white;
  color: white;
  padding: 4rem 2rem 2rem 4rem;
  font-size: 4rem;
  transition: 0.3s;
}
.link-box-left:hover {
  background-color: #b11f28;
  margin-left: 0.5rem;
  position: absolute;
  transition: 0.3s;
}
.link-box-right {
  width: 46rem;
  height: 17rem;
  border: 2px solid white;
  color: white;
  padding: 4rem 2rem 2rem 4rem;
  font-size: 4rem;
  transition: 0.3s;
}
.link-box-right:hover {
  background-color: #b11f28;
  margin-left: 0.5rem;
  position: absolute;
  transition: 0.3s;
}
.link-cabinet-text1 {
  font-size: 4rem;
  font-weight: 500;
}
.link-cabinet-text2 {
  margin-top: 1rem;
  font-size: 1rem;
}
.arrow-icon {
  position: absolute;
  top: 70%;
  right: 2%;
}
/*  


link-cabinet-bottom
link-box-left
link-box-right
*/

/* *********************LINK-CABINET*******above******** */
