header {
  display: flex;
}
.logo {
  font-size: 2rem;
  font-weight: 700;
  background-color: #333;
  width: 25%;
}
.nav-bar {
  width: 75%;
  display: flex;
  background-color: #333;
}
.nav-list {
  display: flex;
  gap: 10rem;
}
.logo a,
.nav-bar-link a {
  color: white;
}
.nav-bar-link a {
  font-size: 1.8rem;
}
.nav-bar-link:hover a {
  color: orangered;
  transition: all 0.3s;
}
.slider {
  display: flex;
}
.content {
  font-size: 1.4rem;
}
.btn-mobile-nav {
  display: none;
}
