body {
  width: 1000px;
  margin: 0 auto;
  padding: 0 auto;
}
.container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 200px;
}
.boxes {
  border: solid red;
  transform: translate(0, 0);
  width: 140px;
  height: 60px;
}
/* div {
  transition-property: width, height;
  transition-duration: 4s;
  transition-delay: 2s; 
} 

.box:hover {
  width: 200px;
  height: 90px;
} */
.boxes {
  transition-property: transform;
  transition-duration: 4s;
  /* transition-delay: 1s; */
}

.box1:hover {
  transform: translate(500%, 0);
}
.box2:hover {
  transform: translate(400%, 0);
}
.box3:hover {
  transform: translate(300%, 0);
}
