body {
  overflow-x: hidden;
}
header {
  font-size: x-large;
  background-color: rgb(155, 152, 148);
}
.nav-bar {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 4rem;
}
.logo {
  width: 30%;
  margin-left: 5%;
  font-size: xx-large;
}

.nav-list {
  width: 70%;
  display: flex;
  gap: 15%;
}
/* ---------mobile-nav-icons----------- */
.btn-mobile-nav {
  display: flex;
}
.btn-mobile-nav {
  border: none;
  background: none;
  cursor: pointer;
  height: 3.8rem;
  width: 3.8rem;
  display: none;
}
.icon-mobile-nav {
  height: 3.8rem;
  width: 3.8rem;
  color: #333;
}
.icon-mobile-nav[name="close-outline"] {
  display: none;
}
/* ---------mobile-nav-icons----------- */

.slider {
  display: flex;
}
p {
  font-size: 20px;
}

.container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}
