.nav-bar {
  display: flex;
  align-items: center;
  border-bottom: 2px solid black;
}

.logo-box {
  width: 15vw;
  margin: 10px 0 20px 20px;
}
.logo-img {
  width: 70%;
}
.menu-items {
  width: 65vw;
}
.menu-items {
  display: flex;
  align-items: stretch;
  justify-content: center;
}
.menu-item {
  text-transform: uppercase;
  padding: 1.25rem;
  border-right: 1px solid #d7263d;

  &:last-child {
    border: 0;
  }
}

.fa-solid {
  font-size: 2vw;
}
.menu-item span a {
  font-size: 1vw;

  color: #102d50;
}
/* ------SUBMENU------------- */
.submenu {
  display: none;
}
.menu-item:hover .submenu {
  width: 17vw;
  display: block;
  position: absolute;
  background-color: #133156;
  margin-left: -1rem;
  margin-top: 1rem;
}

.submenu .submenu-item-box a {
  display: block;
  text-align: left;
  color: white;
  font-size: 1vw;
  padding: 2vw 2vw 2vw 1vw;
}

.submenu-item-box:hover a {
  display: block;
  background-color: #b11f28;
}

/* ------------------LOGIN BOX BELOW-------------- */
.login-box {
  width: 20vw;
  text-transform: uppercase;
  border-left: 2px solid black;
}
.shop-login-search-box-items {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 1.5vw;
  margin-top: 1vw;
  margin-bottom: 1vw;
  padding-left: 1vw;
  padding-right: 1vw;
}

.join-renew-box-items {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.shop-login-search-box-item {
  font-size: 0.8vw;
  width: 100%;
  text-align: center;
}
.shop-login-search-box-item a {
  color: #102d50;
}

.join-renew-box-item {
  background: #b11f28;
  width: 100%;
  text-align: center;
  border: 1px solid #b11f28;
  border-top-width: 2px;
  border-right-width: 0px;
  border-bottom-width: 0px;
  border-left-width: 0px;
  display: block;
  text-align: center;
  padding: 0.8vw 1.5vw;
}
.join-renew-box-item span {
  color: white;
  font-weight: bold;
  font-size: 1vw;
}
.join-renew-box-item-join {
  margin-right: 3px;
  width: 50%;
}
.join-renew-box-item-renew {
  margin-left: 3px;
  width: 50%;
}
/* -------------------LOGIN-BOX ABOVE--------------- */
/*  */
/* -----MOBILE NAV------------ */
.btn-mobile-nav {
  display: none;
}
/* -------------sticky element------- */

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999;
  background-color: white;
}
.fixed {
  width: 100%;
  margin-top: 7vw;
}
/* -------------sticky element------- */

/* -SLIDER AŞAĞIDA */
.slider {
  display: flex;
  position: relative;
  width: 100vw;
  background-size: cover;
}
.slider-wrap {
  width: 100vw;
  overflow: hidden;
  margin-left: auto;
  margin-right: auto;
}
.slides {
  display: flex;
  width: 100vw;
}
.slide-img {
  width: 50vw;
  height: 80vh;
}

.slide-texts {
  width: 50vw;
  height: 80vh;
  text-align: left;
  background-color: #b11f28;
  color: white;
  font-size: 1.2vw;
  padding-left: 2vw;
}
.read-more-slide {
  /* read-more for the left hand-side of the page */
  display: inline-block;
  width: 20%;
  height: 8%;
  font-size: 1vw;
  font-weight: 700;
  background-color: #133156;
  color: white;
  margin-top: 1.2vw;
  text-align: center;
  line-height: 3vw;
  background-size: cover;
}
.read-more {
  /* read-more for the left hand-side of the page */
  display: inline-block;
  width: 20%;
  height: 13%;
  font-size: 1vw;
  font-weight: 700;
  background-color: #133156;
  color: white;
  margin-top: 1.2vw;
  text-align: center;
  line-height: 3vw;
}
.read-more:hover {
  background-color: #0c223d;
}
.read-more2 {
  display: inline-block;
  width: 20%;
  height: 13%;
  font-size: 1vw;
  font-weight: 700;
  background-color: #b11f28;
  color: white;
  margin-top: 1.2vw;
  text-align: center;
  line-height: 3vw;
}
.read-more2:hover {
  background-color: #701118;
}
.buttons {
  display: block;
  position: absolute;
  font-size: 3vw;
  top: 50vh;
  color: white;
  cursor: pointer;
}
.prevBtn {
  left: 1vw;
}
.nextBtn {
  left: 90vw;
}
/* --SLIDER YUKARIDA */
/* ----------content-row-1 ---below----*/
.content-row-1 {
  display: flex;
}
.content-row-1-left {
  background-color: #133156;
  color: white;
  width: 51vw;
  height: 50vh;
  font-size: 1.2vw;
  padding-left: 2vw;
}

.content-img {
  width: 49vw;
  height: 50vh;
}
/* ----------content-row-1----above ---- */
/* *******************ADVERT************** */
.advert-box {
  width: 40vw;
  height: 20vw;
  border: 1px solid black;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3vw;
}
.advert-box-left {
  font-size: 3vw;
  border-right: 2px solid black;
}
.advert-box-right {
  font-size: 3vw;
  border-left: 2px solid black;
}
/* ----------content-row-2 ---below----*/
.content-row-2 {
  display: flex;
}
.content-row-2-right {
  background-color: #b11f28;
  color: white;
  width: 51vw;
  height: 50vh;
  font-size: 1.2vw;
  padding-left: 2vw;
}

/* ----------content-row-2----above ---- */

/*  *********************LINK-CABINET*******below*********  */
.link-cabinet-box {
  width: 100vw;
  height: 48vw;
  background-color: #133156;
  margin-top: 2vw;
  padding-top: 4vw;
  padding-bottom: 4vw;
}
.link-cabinet-top,
.link-cabinet-bottom {
  display: flex;
}
.link-box-left-wrap {
  width: 100%;
  height: 17vw;
  position: relative;
  margin: 2vw 1vw 0vw 2vw;
}
.link-box-right-wrap {
  width: 100%;
  height: 17vw;
  position: relative;
  margin: 2vw 1vw 0vw 1vw;
}
.link-box-left {
  width: 100%;
  height: 17vw;
  border: 2px solid white;
  color: white;
  padding: 4vw 2vw 2vw 4vw;
  font-size: 4vw;
  transition: 0.3s;
  position: absolute;
}
.link-box-left:hover {
  background-color: #b11f28;
  margin-left: 0.5vw;
  position: absolute;
  transition: 0.3s;
}

.link-box-right {
  width: 97%;
  height: 17vw;
  border: 2px solid white;
  color: white;
  padding: 4vw 2vw 2vw 4vw;
  font-size: 4rem;
  transition: 0.3s;
}
.link-box-right:hover {
  background-color: #b11f28;
  margin-left: 0.5vw;
  position: absolute;
  transition: 0.3s;
}

.link-cabinet-text1 {
  font-size: 4vw;
  font-weight: 500;
}
.link-cabinet-text2 {
  margin-top: 1vw;
  font-size: 1vw;
}
.arrow-icon {
  font-size: 4vw;
  padding-left: 30vw;
}

/* *********************LINK-CABINET*******above******** */
/* 
 /* ------------FOOTER*/

.footer-columns {
  display: flex;
  width: 100vw;
  height: 22vw;
  background-color: #133156;
  margin-top: 4vw;
  border-bottom: 0.6vw solid #b11f28;
}
.columns {
  width: 20vw;
  height: 16vw;
  margin: 2vw;
}

.columns span {
  display: block;
  color: white;
  font-size: 1.2vw;
  text-transform: uppercase;
  margin-top: 1vw;
}
.column-3 {
  color: white;
  font-size: 1vw;
  margin-top: 3vw;
  line-height: 2;
}
.column-4 {
  font-size: 2vw;
  margin-left: 20vw;
  margin-top: 3vw;
}
.column-4 a {
  color: white;
}

/* ************* */

.copyright-row {
  width: 100vw;
  height: 5vw;
  padding-top: 1vw;
  text-align: center;
  font-size: 1vw;
}
