#boxes-outer {
  width: 165px;
  height: 250px;
  /* border: 1px solid; */
  overflow: hidden;
  border: 1px solid red;
  margin-left: 710px;
}
#boxes {
  width: 490px;
  height: 250px;
  border: 1px solid black;
  /* overflow: hidden; */
  margin-left: -165px;
}
#img1 {
  /* border: 1px solid black; */
  width: 165px;
  height: 250px;
  transform: translate(300%, 0);
  transition: 1s;
  display: inline-block;
}
#img2 {
  /* border: 1px solid black; */
  width: 165px;
  height: 250px;
  transform: translate(300%, 0);
  transition: 1s;
  display: inline-block;
}
#img3 {
  /* border: 1px solid black; */
  width: 165px;
  height: 250px;
  transform: translate(300%, 0);
  transition: 1s;
  display: inline-block;
}

#img1 {
  margin-left: -334px;
}
.dots {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
#dot1 {
  width: 20px;
  height: 20px;
  border: none;
  background-color: lightgray;
  border-radius: 50%;
}
#dot2 {
  width: 20px;
  height: 20px;
  border: none;
  background-color: lightgray;
  border-radius: 50%;
}
#dot3 {
  width: 20px;
  height: 20px;
  border: none;
  background-color: lightgray;
  border-radius: 50%;
}
#btn-left {
  margin-top: 0px;
  margin-left: 550px;
}
#btn-right {
  margin-left: 350px;
}
