header {
  font-size: 1.8rem;
}
.nav-bar {
  display: flex;
  background-color: gray;
}
.logo {
  width: 20%;
}
.logo a {
  color: white;
  font-weight: 700;
  padding-left: 1rem;
}

.nav-list {
  width: 70%;
  display: flex;
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}
.nav-bar-link a {
  color: white;
}
.nav-bar-link:hover a {
  color: orangered;
  transition: all 0.3s;
}
/* MOBILE */
.btn-mobile-nav {
  display: none;
}

/* PHOTOS */
.slider {
  display: flex;
}
.content {
  font-size: 1.4rem;
}
